/* PARAMÈTRE GÉNÉRAUX */
html,body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.section_1_et_2 {
    display: flex;
}

/* PARTIE GAUCHE */
.left_section {
    background-color:#A8765B;
    width: 30%;
    color: rgb(241, 235, 231);
}

    /* Photo */
.photo {
    width: 100%;
    margin-top: 55px;
    margin-bottom: 30px;
    text-align: center;
}

.photo > img {
    width: 60%;
    border: 3.5px solid rgba(133, 99, 80, 0.438);
    border-radius: 50%;
}


    /* Contact */
.contact {
    background-color: #534642;
    width: auto;
    text-align: center;
    padding: 4px;
    
}
.contact h2 {
    margin: 0;
    color: #A8765B;
}

.detail_contact {
    margin-top: 30px;
}

.detail_contact > ul {
    list-style-type: none;
}

.detail_contact span {
    display: block;
}

.detail_contact a {
    color: rgb(241, 235, 231); 
    font-size:30px;
    margin-top: 4px;
}

    /* A propos */
.a_propos {
    background-color: #534642;
    width: auto;
    text-align: center;
    padding: 4px;
    margin-top: 30px;
    
}
.a_propos h2 {
    margin: 0;
    color: #A8765B;
}

.block_propos {
    margin: auto 30px auto 35px;
    padding: 3px; 
    margin-top: 20px;
}

.block_propos span {
    display: block;
}

    /* Loisirs */
.loisirs {
    background-color: #534642;
    width: auto;
    text-align: center;
    padding: 4px; 
    margin-top: 980px; 
}
.loisirs h2 {
    margin: 0;
    color: #A8765B;
}

.logo_loisirs {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    
}

.logo_loisirs i {
    color: rgb(241, 235, 231);
    margin-right: 20px;
    margin-left: 20px;
    font-size: 55px;
}

.test :hover {
    color: #ffa56d;
}

/* PARTIE DROITE */
.right_section {
    background-color:rgb(241, 235, 231);
    width: 70%;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    color: #534642;
}

    /* !!! Titre !!! */

.title h2{
    font-family:'Comfortaa'; 
    font-size: 50px;
}

.name {
    color:#A8765B;
}

.sous_titre {
    font-weight: normal;
    font-size: 29px;
    margin-top: -25px;
    margin-bottom: 60px;
}

.underline_dev {
    border-bottom:2px solid #A8765B;
}


    /* !!! Formation !!! */
.block_formation1 {
    display: flex;
}

.block_formation2 {
    display: flex; 
    margin-top: 10px; 
}

/* Paramètre titre */
.title_formation {
    display: flex;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 130px;
    padding: 0;
    
}

.title_formation h2 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.title_formation i {
    font-size: 38px;
    color: #A8765B;
    margin-right: 40px;
}

.ligne {
    border: 1px solid #A8765B;
    margin-top: 0;
    margin-bottom: 40px;
}

/* Date & Symbole */
.dot {
    color: #A8765B;
    margin-top: 5px;
    margin-right: 20px;  
      
}
  
.dot2 {
    color: #A8765B;
    margin-top: 10px;
    margin-right: 20px; 
    font-size: 10px;
}

.date_formation {
    width: 25%;
    margin-right: 95px;
    padding-top: 5px;
    margin-top: 0;
}

/* Texte descriptif */
.description_formation {
    width: 65%;
    margin-top: 0;
    padding: 0;
   
}

.description_formation h2 {
    padding: 0;
    margin: 0 0 8px 0;
}

.description {
    padding: 0;
    margin: 0;
}

.sous_titre2 {
    font-size: 17px;
}


    /* !!! Expérience pro !!! */
.block_experience1 {
    display: flex;
}
    
.block_experience2 {
    display: flex; 
    margin-top: 17px; 
}

/* Paramètre titre */
.title_experience {
    display: flex;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 40px;
    padding: 0;
}

.title_experience h2 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.title_experience i {
    font-size: 38px;
    color: #A8765B;
    margin-right: 40px;
}

/* Date */
.date_experience {
    width: 25%;
    margin-right: 95px;
    padding-top: 5px;
    margin-top: 0;
}

/* Texte descriptif */
.description_experience {
    width: 65%;
    margin-top: 0;
    padding: 0;
   
}

.description_experience h2 {
    padding: 0;
    margin: 0 0 8px 0;
}


    /* !!! Recommandations !!! */

/* Paramètre titre */
.title_recommandation {
    display: flex;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 40px;
    padding: 0;
}

.title_recommandation h2 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.title_recommandation i {
    font-size: 38px;
    color: #A8765B;
    margin-right: 40px;
}

/* Description */
.block_recommandation {
    display: flex;
    margin-bottom: 40px;
}

.detail_reco {
    width: 25%;
    margin-right: 115px;
    
    margin-top: 0;
}

.detail_reco span {
    display: block;
}

.recommandation {
    width: 65%;
    margin-top: 0;
    padding: 0;
}

.detail_reco a {
    color: #A8765B;
    font-size: 25px;

}

.voir_reco {
    font-size: 13px;
}

/* MEDIA QUERIES
Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */

@media screen and (max-width: 1024px)
{
    body {
        font-size: 14px;
    }

    .section_1_et_2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    /* Section gauche */
    
    .left_section {
        width: auto;
        margin: 0;
    }

    .left_section:nth-child(1) {
        order: 1;
    }

    .detail_contact {
        margin-top: 4px;
    }

    .a_propos {
        margin-top: 2px;
    }

    .block_propos {
        margin-top: 4px;
    }

    .loisirs {
        margin-top: 2px;
    }

    .logo_loisirs {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    

    /* Section droite */

    .right_section {
        width: auto;
        margin: 0;
        padding: 10px;
        
    }

/* FORMATION */
    .title_formation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title_formation h2 {
        font-size: 23px;
    }

    .title_formation i {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 8px;
    }

    .block_formation1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 0 40px 0;
        padding: 0;
        width: 100%;
    }

    .description_formation {
        text-align: center;
    }

    .block_formation2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 0 40px 0;
        padding: 0;
        width: 100%;
    }

    .dot {
        margin-right: auto;
        margin-left: auto;
    }

    .dot2 {
        margin-right: auto;
        margin-left: auto;
    }

    .date_formation {
        margin: 5px auto 28px auto;
        padding: 0;
    }

    .description_formation h2 {
        font-size: 20px;
        max-width: auto;
        height: 100%;
    }

/* EXPERIENCE */    

    .title_experience {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title_experience h2 {
        font-size: 23px;
    }

    .title_experience i {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 8px;
    }

    .block_experience1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 0 40px 0;
        padding: 0;
        width: 100%;
    }

    .block_experience2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 0 40px 0;
        padding: 0;
        width: 100%;
    }

    .date_experience {
        margin: 5px auto 28px auto;
        padding: 0;
    }

    .description_experience h2 {
        font-size: 20px;
        max-width: auto;
        height: 100%;
    }

    .description_experience {
        text-align: center;
    }


   
/* RECO */

    .title_recommandation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title_recommandation i {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 8px;
    }

    .title_recommandation h2 {
        font-size: 23px;
    }

    .block_recommandation {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 0 40px 0;
        padding: 0;
        width: 100%;
    }

    .detail_reco {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .detail_reco a {
        display: block;
        margin-bottom: 15px;
    }

}