/* PARAMÈTRE GÉNÉRAUX */
@font-face {
    font-family: 'sundine';
    src: url('./font/sundine.ttf') format('truetype');
}


html,body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.section_gauche_droite {
    display: flex;
}

/* PARTIE GAUCHE */
.section_gauche {
    background-color:#A8765B;
    width: 30%;
    color: rgb(241, 235, 231);
}

    /* Photo */
.photo {
    width: 100%;
    margin-top: 55px;
    margin-bottom: 30px;
    text-align: center;
}

.photo > img {
    width: 60%;
    border: 3.5px solid rgba(133, 99, 80, 0.438);
    border-radius: 50%;
}


    /* Contact */
.contact {
    background-color: #534642;
    width: auto;
    text-align: center;
    padding: 4px;
    
}
.contact h2 {
    margin: 0;
    color: #A8765B;
}

.detail_contact {
    margin-top: 30px;
}

.detail_contact > ul {
    list-style-type: none;
}

.detail_contact li {
    display: block;
    margin-bottom: 21px;
}

.detail_contact span {
    display: block;
}

.tel {
    text-decoration: none;
    color: rgb(241, 235, 231);  
}

.tel:hover{
    color: white;
}

.email {
text-decoration: none;
color: rgb(241, 235, 231); 
}

.email:hover{
    color: white;
}

.logo_git {
    color: rgb(241, 235, 231); 
    font-size: 30px;
    margin-top: 4px;
}

.logo_git :hover {
    color: white;
}

    /* A propos */
.a_propos {
    background-color: #534642;
    width: auto;
    text-align: center;
    padding: 4px;
    margin-top: 30px;
}
.a_propos h2 {
    margin: 0;
    color: #A8765B;
}

.paragraphe_a-propos {
    margin: auto 30px auto 35px;
    padding: 3px; 
    margin-top: 20px;
}

.paragraphe_a-propos span {
    display: block;
}

    /* Loisirs */
.loisirs {
    background-color: #534642;
    width: auto;
    text-align: center;
    padding: 4px; 
    margin-top: 980px; 
}
.loisirs h2 {
    margin: 0;
    color: #A8765B;
}

.logo_loisirs {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    
}

.logo_vent i {
    font-size: 35px;
}

.logo_loisirs i {
    color: rgb(241, 235, 231);
    margin-right: 20px;
    margin-left: 20px;
    font-size: 50px;
    border: 1px solid rgb(241, 235, 231);
    border-radius: 50%;
    padding: 4px;
}

.logo_soleil i {
    padding: 1px;
}

.logo_soleil :hover {
    color: #ffa56d;
}

/* PARTIE DROITE */
.section_droite {
    background-color:rgb(241, 235, 231);
    width: 70%;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    color: #534642;
}

    /* !!! Titre !!! */

.titre h2{
    font-family:'sundine'; 
    font-size: 70px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
}

.nom {
    color:#A8765B;
}

.nom_profession {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 60px;
}

.underline_dev {
    border-bottom: 2px solid #A8765B;
}

    /* !!! Formation !!! */
.block_formation_openclassrooms {
    display: flex;
}

.block_formation_ppa {
    display: flex; 
    margin-top: 10px; 
}

/* Paramètre titre */
.titre_formation {
    display: flex;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 130px;
    padding: 0;
}

.titre_formation h2 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.titre_formation i {
    font-size: 38px;
    color: #A8765B;
    margin-right: 40px;
}

.ligne {
    border: 1px solid #A8765B;
    margin-top: 0;
    margin-bottom: 40px;
}

/* Date & Symbole */
.dot {
    color: #A8765B;
    margin-top: 5px;
    margin-right: 20px;  
      
}
  
.dot2 {
    color: #A8765B;
    margin-top: 10px;
    margin-right: 20px; 
    font-size: 10px;
}

.date_formation {
    width: 25%;
    margin-right: 95px;
    padding-top: 5px;
    margin-top: 0;
}

.date_formation span {
    display: block;
}

/* Texte descriptif */
.description_formation {
    width: 65%;
    margin-top: 0;
    padding: 0;
   
}

.description_formation h2 {
    padding: 0;
    margin: 0 0 8px 0;
}

.description {
    padding: 0;
    margin: 0;
}

.sous_titre {
    font-size: 17px;
}


    /* !!! Expérience pro !!! */
.block_experience_alphavisa {
    display: flex;
}
    
.block_experience_amex {
    display: flex; 
    margin-top: 17px; 
}

/* Paramètre titre */
.titre_experience {
    display: flex;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 40px;
    padding: 0;
}

.titre_experience h2 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.titre_experience i {
    font-size: 38px;
    color: #A8765B;
    margin-right: 40px;
}

/* Date */
.date_experience {
    width: 25%;
    margin-right: 95px;
    padding-top: 5px;
    margin-top: 0;
}

.date_experience span {
    display: block;
}

/* Texte descriptif */
.description_experience {
    width: 65%;
    margin-top: 0;
    padding: 0;
   
}

.description_experience h2 {
    padding: 0;
    margin: 0 0 8px 0;
}


    /* !!! Recommandations !!! */

/* Paramètre titre */
.titre_recommandation {
    display: flex;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 40px;
    padding: 0;
}

.titre_recommandation h2 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.titre_recommandation i {
    font-size: 38px;
    color: #A8765B;
    margin-right: 40px;
}

/* Description */
.block_recommandation {
    display: flex;
    margin-bottom: 40px;
}

.detail_reco {
    width: 25%;
    margin-right: 115px;
    margin-top: 0;
}

.detail_reco span {
    display: block;
}

.poste_reco {
    font-style: italic;
    margin-bottom: 15px;
}

.recommandation {
    width: 65%;
    margin-top: 0;
    padding: 0;
}

.detail_reco a {
    color: #A8765B;
    font-size: 25px;
}

.detail_reco a:hover{
    color: rgb(209, 157, 129);
}

.voir_reco {
    font-size: 13px;
}

/* MEDIA QUERIES
Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */

@media screen and (max-width: 1024px)
{
    html,body{
        font-size: 14px;
    }

    .section_gauche_droite {
        
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    /* Section gauche */
    
    .section_gauche {
        width: auto;
        margin: 0;
    }

    .section_gauche:nth-child(1) {
        order: 1;
    }

    .detail_contact {
        margin-top: 4px;
    }

    .a_propos {
        margin-top: 2px;
    }

    .block_propos {
        margin-top: 4px;
    }

    .loisirs {
        margin-top: 2px;
    }

    .logo_loisirs {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    

    /* Section droite */

    .section_droite {
        width: auto;
        margin: 0;
        padding: 10px;
    }

/* FORMATION */
    .titre_formation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titre_formation h2 {
        font-size: 23px;
    }

    .titre_formation i {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 8px;
    }

    .block_formation_openclassrooms {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 0 40px 0;
        padding: 0;
        width: 100%;
    }

    .description_formation {
        text-align: center;
    }

    .block_formation_ppa {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 0 40px 0;
        padding: 0;
        width: 100%;
    }

    .dot {
        margin-right: auto;
        margin-left: auto;
    }

    .dot2 {
        margin-right: auto;
        margin-left: auto;
    }

    .date_formation {
        margin: 5px auto 28px auto;
        padding: 0;
    }

    .description_formation h2 {
        font-size: 20px;
        height: 100%;
    }

    .description_formation ul{
        list-style-type: none;
        padding: 0;
    }
/* EXPERIENCE */    

    .titre_experience {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .titre_experience h2 {
        font-size: 23px;
    }

    .titre_experience i {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 8px;
    }

    .block_experience_alphavisa {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 0 40px 0;
        padding: 0;
        width: 100%;
    }

    .block_experience_amex {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 0 40px 0;
        padding: 0;
        width: 100%;
    }

    .date_experience {
        margin: 5px auto 28px auto;
        padding: 0;
    }

    .description_experience h2 {
        font-size: 20px;
        height: 100%;
    }

    .description_experience {
        text-align: center;
    }

    .description_experience ul{
        list-style-type: none;
        padding: 0;
    }

   
/* RECO */

    .titre_recommandation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titre_recommandation i {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 8px;
    }

    .titre_recommandation h2 {
        font-size: 23px;
    }

    .block_recommandation {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 0 40px 0;
        padding: 0;
        width: 100%;
    }

    .detail_reco {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .detail_reco a {
        display: block;
        margin-bottom: 15px;
    }

}